@use "../constants";
@import "../shared_styles";

body{
    margin : 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-content{
    // background-color: aliceblue;
}

.secondary_button{
    color: constants.$white;
    transition: background-color 0.5s ease;
    background-color: constants.$accent-color;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
    &:hover {
        background-color: constants.$dark-accent-color;
      }
}

.primary_button{
    color: constants.$accent-color;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    margin: 20px 10px;

    img{
        margin-left: 8px;
        transform: translateX(0);
        transition: transform 0.3s ease-out;
        width: 25px;
    }
    
    &:hover {
        color: constants.$dark-accent-color;
        text-decoration: underline;

        img{
            transform: translateX(10px);
        }
      }
}

.primary_button_display_content{
    display: flex;
    align-items: center;
}