@use "../constants";
@import "../shared_styles";


@mixin nospacing(){
    margin: 0px;
    padding: 0px;
}

.starter_products{
    background-color: constants.$section-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0px;
}

.title{
    @include nospacing();
    font-size: 38px;
    font-weight: 900;
    color: constants.$primary-text-color;
}

.subtitle{
    @include nospacing();
    font-size: 18px;
    color: constants.$secondary-text-color;
    margin-top: 20px;
}

.section_body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    margin-top: 75px;
}

.product_cards_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
    padding: 40px 0px;
}

.starter_product_card{
    display: flex;
    flex-direction: row;
    align-items :start;
    margin: 0px 45px;
    h3{
        @include nospacing();
        font-size: 26px;
    }

    p{
        color: constants.$secondary-text-color;
        width: 250px;
        font-size: 18px;
    }
}

.subsection{
   margin-left: 15px;
}

.button_primary{
    color: constants.$accent-color;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 10px;
    &:hover {
        color: constants.$dark-accent-color;
        text-decoration: underline;

        img{
            @extend .shared_right_arrow_hover;
        }
        
      }
}

.button_display_content{
    display: flex;
    align-items: center;
    img{
        margin-left: 8px;
        @extend .shared_right_arrow;
    }
}