@use "../constants";
@import "../shared_styles";

@mixin nospacing(){
    margin: 0px;
    padding: 0px;
}

.elastic_features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 130px;
    width: 100%;
    @media (max-width : 768px) {
        padding-top: 40px;
    }
}

.title {
    @include nospacing();
    font-size: 38px;
    font-weight: 900;
    @media (max-width : 768px) {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }
}

.subtitle {
    @include nospacing();
    font-size: 18px;
    font-weight: 500;
    color: constants.$secondary-text-color;
    margin: 20px 330px 100px 330px;
    text-align: center;
    @media (max-width : 768px) {
        text-align: center;
        font-size: 16px;
        width: 80%;
    }
}

.feature_card{
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    @media (max-width:768px) {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .feature_content{
        width: 45%;
        @media (max-width:768px) {
            width: 100%;
        }
    }

    .feature_video{
        width: 40%;
        @media (max-width:768px) {
            width: 97%;
        }
    }

    .videosize{
        width: 100%;

        @media (max-width:768px) {
            width: 100%;
        }
    }

    .yt_videosize{
        width: 100%;
        height: 400px;
        @media (max-width:768px) {
            width: 100%;
            height: 300px;
        }
    }

    .feature_header{
        @include nospacing();
        display: flex;
        flex-direction: row;
        width: 83%;
        p {
            font-size: 24px;
            margin-left: 15px;
            font-weight: 700;
            @media (max-width:768px) {
                font-size: 20px;
            }
        }
        @media (max-width:768px) {
            width: 100%;
        }
    }

    .subtitle{
        @include nospacing();
        text-align: left;
        font-size: 42px;
        color: constants.$primary-text-color;
        font-weight: 900;
        width: 400px;
        @media (max-width:768px) {
            font-size: 32px;
            font-weight: 700;
            width: 80%;
        }
    }

    .description {
        @include nospacing();
        font-size: 18px;
        font-weight: 500;
        color: constants.$secondary-text-color;
        margin: 20px 0px;
        width: 80%;
        
        @media (max-width:768px) {
            font-size: 17px;
            width: 100%;
        }
    }

    .button_primary{
        color: constants.$accent-color;
        font-weight: 600;
        font-size: 18px;
        text-decoration: none;
        margin: 20px 0px;
        &:hover {
            color: constants.$dark-accent-color;
            text-decoration: underline;

            img{
                @extend .shared_right_arrow_hover;
            }

          }
    }

    .button_display_content{
        display: flex;
        align-items: center;
    }

    .testimonial{
        background-color: constants.$section-bg;
        margin-top: 25px;
        width: 80%;
        padding: 10px;
        border-radius: 10px;

        @media (max-width:768px) {
            width: 90%;
            padding: 10px;
            margin-bottom: 25px;
        }

        .value_proposition{
            @include nospacing();
            font-size: 18px;
            font-weight: 500;
            color: constants.$secondary-text-color;
            width: 100%;
            @media (max-width:768px) {
                font-size: 16px;
                font-weight: 400;
            }
        }

        .logo_position{
            display: flex;
            flex-direction: row;

            img{
                width: 100px;
                @media (max-width:768px) {
                    width: 90px;
                }
            }

            p{
                font-weight: 600;
                margin-left: 20px;
                @media (max-width:768px) {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
}