@use "../constants";
  @import "../shared_styles";

@mixin nospacing(){
    padding:  0px;
    margin: 0px;
}

.raw_outer_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.type1_raw_container{
    @include nospacing();
    margin: 50px 0px 15px 0px;
    display: flex;
    padding-top: 40px;
    box-shadow: 0px 2px 10px 3px rgba(0, 0.2, 0, 0.2);
    width: 97%;

    @media (max-width:768px) {
        width: 94%;
        border-radius: 10px;
    }
}

.type2_raw_container{
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97%;
    @media (max-width:768px) {
        padding: 0px;
    }
}

.type3_raw_container{
    background-color: #0077CC;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.rawCards_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width:768px) {
        flex-direction: column;
    }
}

.hr{
    border-color: rgb(247, 246, 246);
    margin: 20px 0px 40px 0px;
}

.rawcard{
    display: flex;
    flex-direction: column;
    margin: 0px 25px;

    @media (max-width:768px) {
        margin-bottom: 25px;
    }

    &:hover{

        .arrow_translate{
            img{
                transform: translateX(10px);
            }
        }

        .category, .type1_subtitle, .type1_title, .type3_title{
            transform: translateY(-10px);
        }

        .type1_title{
            color: constants.$accent-color;
        }

        .button_primary{
                color: constants.$dark-accent-color;
                text-decoration: underline;
        
                img{
                    @extend .shared_right_arrow_hover;
                }
                
              }
        }

    }


.raw_content{
    height: 80%;
}

.category{
    @include nospacing();
    font-size: 14px;
    letter-spacing: 1.5px;
    color: constants.$tertiary-text-color;
    font-weight: 600;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    width: 100%
}

.section_title{
    @include nospacing();
    margin-top: 100px;
    margin-bottom: 40px;
    font-weight: 900;
    color: constants.$white;
    font-size: 38px;

    @media (max-width:768px) {
        font-size: 34px;
        font-weight: 700;
        margin-top: 50px;
    }
}

.type1_title{
    @include nospacing();
    margin-top: 20px;
    font-size: 29px;
    font-weight: 800;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    color: constants.$primary-text-color;

    @media (max-width:768px) {
        margin-top: 10px;
        font-size: 22px;
        font-weight: 700;
        width: 100%;
    }
}

.type2_title{
    @include nospacing();
    margin-top: 20px;
    font-size: 18px;
    font-weight: 800;
    color: constants.$primary-text-color;
}

.type3_title{
    @include nospacing();
    margin-top: 20px;
    font-size:16px;
    font-weight: 900;
    color: constants.$white;
    font-size: 28px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;

    @media (max-width:768px) {
        font-size: 22px;
        font-weight: 800;
    }
}

.type1_subtitle{
    @include nospacing();
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: constants.$secondary-text-color;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
    @media (max-width:768px) {
        font-weight: 400;
        width: 100%;
    }
}

.type2_subtitle{
    @include nospacing();
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: constants.$secondary-text-color;
    @media (max-width:768px) {
        font-weight: 400;
        width: 100%;
    }

}

.type3_subtitle{
    @include nospacing();
    margin-top: 20px;
    font-size: 18px;
    font-weight: 500;
    color: constants.$white;
}

.logo{
    width: 30px;
}

.card_button{
    text-decoration: none;
}

.button_alignment_center{
    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.button_primary{
    color: constants.$accent-color;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

.button_display_content{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img{
        margin-left: 8px;
        @extend .shared_right_arrow;
    }
}