$accent-color : #0077CC;
$dark-accent-color : #024a7d;
$primary-text-color : #222222;
$secondary-text-color : #4E5059;
$tertiary-text-color : #777B89;
$white : #ffffff;
$section-bg : #F5F7FA;
$footer-bg :#343741;
